<template>
  <div class="form">
    <h1>Add new link</h1>
    <input v-model="url" class="form-input" placeholder="Please enter or paste URL" />
    <LinkPreview :url="url"/>
    <div class="controls">
    <button class="submit-link" type="submit" :disabled="!url">Add Link</button>
    </div>
  </div>
</template>

<script>
import LinkPreview from './LinkPreview.vue'
export default {
  name: "CreateLinkForm",
  components: {
    LinkPreview
  },
  data: () => ({
    url: ''
  }),
};
</script>

<style scoped>
  h1 {
    text-align: center;
    text-transform: capitalize;
  }

  .form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
  }

  .form-input {
    width: 100%;  
  }

  .controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .controls button {
    border-radius: 20px;
    font-size: 1.2em;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid cornflowerblue;
    cursor: pointer;
  }

  .controls button:disabled {
    border-color: lightgray;
  }

  .controls button:hover:not(:disabled) {
    background-color:aliceblue;
  }
</style>
