<template>
  <div class="create-link">
    <create-link-form/>
  </div>
</template>

<script>
import CreateLinkForm from './CreateLinkForm.vue'
export default {
  components: { CreateLinkForm },
  name: 'CreateLink',
  props: {
  }
}
</script>

<style scoped>
</style>
