<template>
  <div>
    <h3 v-if="loading">Loading preview...</h3>
    <h3 v-if="error" style="color: red">{{ error }}</h3>
    <div v-if="preview">
      <h3>{{ preview.title }} ({{ preview.lang }})</h3>
      <article>{{ preview.description }}</article>
    </div>
  </div>
</template>

<script>
export default {
  name: "LinkPreview",
  inject: ['client'],
  data: function() {
    return {
      loading: false,
      preview: null,
      previewUrl: '',
      timeout: null,
      error: null,
    };
  },
  props: ["url"],
  methods: {
    loadPreview: function(url) {
      this.previewUrl = url
      clearTimeout(this.timeout)
      this.loading = true;
      this.timeout = setTimeout(async () => {
        try {
          const preview = await this.client.getPreview(url);
          if (this.previewUrl === url) {
            this.preview = preview
          }
        } catch (error) {
          this.error = error.message;
        }
        this.loading = false;
      }, 1000)
    }
  },
  watch: {
    url: function(value) {        
      this.preview = null;
      this.error = null;
      this.loading = false;
      if (!value) {
        return
      }
      if (!value.startsWith('https://')) {
        this.error = 'Please enter HTTPS link'
        return
      }      
      this.loadPreview(value)
    },
  },
};
</script>
