<template>
  <div id="app">
    <CreateLink />
  </div>
</template>

<script>
import CreateLink from './components/CreateLink.vue'
import client from './api/client'

export default {
  name: 'App',
  components: {
    CreateLink
  },
  provide () {
    return {
      client,
    }
  }
} 
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
